doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Gulp
    link(rel='stylesheet', href='./css/main.min.css')
  body
header.header
  .header-container
    .header-login
      span.header-category DREAMSHARE
      .header-login
        .text-header-login log in
        .button-header-login Sign up
    .header-info
      h1.header-title SHARE YOUR
      h1.header-title HOLIDAY DREAM
      p.header-text And find the perfect partner to fullfill it
      .header-button Find your holiday partner
main.content
  .works-block
    h1.works-title How Dreamshare works?
    .block-Of-three-works
      section.block-works.step1
        .work-step-info
          .step Step 1
          h3.block-works-title Sed leo enim, condimentum
          p.block-works-text
            | Quisque libero libero, dictum non turpis in, luctus semper lorem.
            | Donec rhoncus a leo sit amet facilisis.
      section.block-works.step2
        .work-step-info
          .step Step 2
          h3.block-works-title Morbi velit risus
          p.block-works-text
            | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit
            | amet porttitor est.
      section.block-works.step3
        .work-step-info
          .step Step 3
          h3.block-works-title Sed leo enim, condimentum
          p.block-works-text
            | Quisque libero libero, dictum non turpis in, luctus semper lorem.
            | Donec rhoncus a leo sit amet facilisis.
  .partner-holidey-block
    h1.partner-holiday-title Meet a partner for your best holiday
    .partner-holiday-container
      section.holiday-partner
        .partner-avatar
          img(src='./images/Bitmap.png' alt='')
          .partner-icon.icon1
            img(src='./images/music2.svg' alt='')
        .name-partner Bradley Hunter
        .partner-info Based in Chicago. I love playing tennis and loud music.
      section.holiday-partner
        .partner-avatar
          img(src='./images/Bitmap1.png' alt='')
          .partner-icon.icon2
            img(src='./images/brush.svg' alt='')
        .name-partner Marie Bennett
        .partner-info
          | Currently living in Colorado. Lover of art, languages and travelling.
      section.holiday-partner
        .partner-avatar
          img(src='./images/Bitmap2.png' alt='')
          .partner-icon.icon3
            img(src='./images/camera.svg' alt='')
        .name-partner Diana Wells
        .partner-info
          | Living in Athens, Greece. I love black and white classics, chillout music
          | and green tea.
      section.holiday-partner
        .partner-avatar
          img(src='./images/Bitmap3.png' alt='')
          .partner-icon.icon4
            img(src='./images/airplane.svg' alt='')
        .name-partner Christopher Pierce
        .partner-info
          | Star Wars fanatic. I have a persistent enthusiasm to create new things.
    .other-partner-button See other partners
  .ideas-container
    h1.ideas-title Discover holiday activity ideas
    section.ideas-block
      .ideas-box.image-sport
        .mask
          h2.ideas-box-title Sports and Activis
      .ideas-box.image-health
        .mask
          h2.ideas-box-title Wellness and Health
      .ideas-box.image-extreme
        .mask
          h2.ideas-box-title
            | Extreme Sports 
            br
            |                             and Expeditions
    section.ideas-block
      .ideas-box.image-games
        .mask
          h2.ideas-box-title Games
      .last-ideas-box.image-culture
        .mask
          h2.ideas-box-title Culture and Education
    section.ideas-block.last-ideas-block
      .ideas-box.image-trevelling
        .mask
          h2.ideas-box-title Trevelling
      .last-ideas-box.image-relaxation
        .mask
          h2.ideas-box-title Enjomet and Relaxation
  .activity
    h1.activity-title Crate your holiday activity
    .activity-questions Hi! What are your holiday interests?
  .search-partners
    form(action='')
      input(type='search' placeholder='Enter your insterests')
    .button-search Search partners
footer.footer
  .footer-category DREAMSHARE
  section.footer-info
    nav.footer-navigation
      .navigation-title Company
      a.navigation-button(href='#') About
      a.navigation-button(href='#') Contact
      a.navigation-button(href='#') Press
      a.navigation-button(href='#') Blog
      a.navigation-button(href='#') Terms and Privacy
      a.navigation-button(href='#') Help
    .partners
      .partners-title Partners
  .footer-logo
    span.logo-text DESIGNED BY
    .logo

